name: CI - Deploy to OKE

on:
  push:
    branches:
      - 'main'

jobs:
  deploy:   
    runs-on: ubuntu-latest
    env:
      OCI_CLI_USER: ${{ secrets.OCI_CLI_USER }}
      OCI_CLI_TENANCY: ${{ secrets.OCI_CLI_TENANCY }}
      OCI_CLI_FINGERPRINT: ${{ secrets.OCI_CLI_FINGERPRINT }}
      OCI_CLI_KEY_CONTENT: ${{ secrets.OCI_CLI_KEY_CONTENT }}
      OCI_CLI_REGION: ${{ secrets.OCI_CLI_REGION }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Check OCI CLI installation
        run: |  
          if ! command -v oci &> /dev/null; then
            echo "OCI CLI not found, installing..."
            # Continue with the installation steps
            curl -L -O https://raw.githubusercontent.com/oracle/oci-cli/master/scripts/install/install.sh
            chmod +x install.sh
            ./install.sh --accept-all-defaults
            mv ~/bin/oci /usr/local/bin
            oci --version 
          else
            echo "OCI CLI already installed"
          fi

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          chmod 700 ~/.ssh

          ssh-keygen -t rsa -b 2048 -f ~/.ssh/id_rsa -N ""
          ssh-keyscan -H ${{ secrets.BASTION_HOST }} >> ~/.ssh/known_hosts

      - name: Create Bastion Session
        run: |
          export oke_private_ip=`oci ce cluster get --cluster-id ${{ secrets.OKE_CLUSTER_OCID }} --query 'data.endpoints."private-endpoint"' | grep -E -o "([0-9]{1,3}[\.]){3}[0-9]{1,3}"`
          echo "oke_private_ip=$oke_private_ip" >> "$GITHUB_ENV"
          oci bastion session create-port-forwarding --bastion-id ${{ secrets.BASTION_OCID }} --display-name ga-to-oke-tunnel-$(date +%Y%m%d-%H%M) --ssh-public-key-file ~/.ssh/id_rsa.pub --key-type PUB --target-private-ip $oke_private_ip --target-port 6443 --wait-for-state SUCCEEDED > ~/bastion_session.json
          export bastion_session_ocid=`cat ~/bastion_session.json | grep bastionsession | awk '{print $2}' | tail -1 | tr -d '"'`          
          echo "bastion_session_ocid=$bastion_session_ocid" >> "$GITHUB_ENV"

      - name: Get GitHub Runner Public IP
        run: |
          IP=$(curl -s https://api.ipify.org)
          echo "RUNNER_IP=$IP" >> $GITHUB_ENV
          echo "Runner IP: $IP"

      - name: Add Runner IP to Bastion Allowlist
        run: |
          NEW_IP="${RUNNER_IP}/32"

          # Get existing allowlist as JSON array
          CURRENT=$(oci bastion bastion get \
            --bastion-id ${{ secrets.BASTION_OCID }} \
            --query 'data."client-cidr-block-allow-list"' \
            --raw-output)

          echo "Current allowlist: $CURRENT"

          # Use jq to append only if not already present
          UPDATED=$(echo "$CURRENT" | jq --arg ip "$NEW_IP" '
            if index($ip) then . else . + [$ip] end
          ')

          echo "Updated allowlist: $UPDATED"

          oci bastion bastion update --bastion-id ${{ secrets.BASTION_OCID }} --client-cidr-list "$UPDATED" --force

      - name: Install kubectl
        run: |
          set -e
          K8S_VERSION=$(curl -L -s https://dl.k8s.io/release/stable.txt)
          curl -LO "https://dl.k8s.io/release/${K8S_VERSION}/bin/linux/amd64/kubectl"
          chmod +x kubectl
          sudo mv kubectl /usr/local/bin/kubectl
          kubectl version --client
      
      - name: Configure OKE Cluster
        run: |
          oci ce cluster create-kubeconfig --cluster-id ${{ secrets.OKE_CLUSTER_OCID }} --file $HOME/.kube/config --region ${{ secrets.OCI_CLI_REGION }} --token-version 2.0.0  --kube-endpoint PRIVATE_ENDPOINT
          sleep 5
          sed -i 's#https://.*:6443#https://127.0.0.1:6443#g' $HOME/.kube/config
          sleep 5

      - name: Verify config file
        run: |
          cat $HOME/.kube/config

      - name: Start SSH Tunnel to OKE Cluster
        run: |
          ssh -i ~/.ssh/id_rsa \
          -o ExitOnForwardFailure=yes \
          -o ServerAliveInterval=30 \
          -o ServerAliveCountMax=3 \
          -o StrictHostKeyChecking=no \
          -N -L 6443:${oke_private_ip}:6443 -p 22 \
          ${bastion_session_ocid}@${{ secrets.BASTION_HOST }} & > ssh_tunnel.log 2>&1

      - name: Verify access
        run: |
          kubectl get no

      - name: Deploy to OKE
        run: |
          helm install demo ./typescript-docker-multi-stage-build/ --namespace default
          sleep 5
          helm list -n default
          sleep 5
          kubectl get po -n default

      - name: Delete OCI Bastion Session
        run: |
          sleep 5
          echo "---------------------------------------------------------------"
          echo "Deleting OCI Bastion Session"
          echo "---------------------------------------------------------------"
          export bastion_session_ocid=`cat ~/bastion_session.json | grep bastionsession | awk '{print $2}' | tail -1 | tr -d '"'`
          oci bastion session delete --session-id $bastion_session_ocid --force  
